body {
  margin: 0;
  padding: 0;
  background: #f5efe6;
  max-height: 100vh;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
<<<<<<< HEAD
  grid-template-rows: 90px 1fr;
=======
  grid-template-rows: 80px 1fr;
>>>>>>> 2c6aa7b96872ab7e257bba3432d48288e6ec4bc4
}
.header-section {
  background: #1a4d2e;
  grid-row: 1/2;
  height: 100%;
}

.main-section {
  grid-row: 2/3;
}
.nav-bar,
.header-title {
  direction: rtl;
  display: flex;
  justify-content: space-around;
}
.header-title {
  margin: 2px 0 10px;
  font-size: 1.7rem;
  color: #e8dfca;
}
.nav-item {
  text-decoration: none;
  color: #e8dfca;
  margin: 3px 0 10px;
  font-size: 0.9rem;
}
.date-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  text-align: center;
}

@media screen and (min-width: 728px) {
  .nav-bar {
    justify-content: center;
  }
  .header-title {
    font-size: 2.1rem;
  }
  .nav-item {
    margin-left: 30px;
  }
}
